window#waybar {
    font-family: "PT Sans", "Product Sans";
    font-size: 18px;
    background: #191724;
    color: #e0def4;
}

* {
    color: #e0def4;
    background: #191724;
    font-weight: bold;
}

#cpu {
    color: #eb6f92;
}

#memory {
    color: #f6c177;
}

#clock {
    color: #31748f;
}

#network {
    color: #9ccfd8;
}

#pulseaudio {
    color: #c4a7e7;
}

#workspaces button {
    padding: 0 10px 0 10px;
    transition: 0.5s;
}

#workspaces button * {
    transition: 0.5s;
}

#workspaces button.active {
    background: #26233a;
    border-bottom: 1px solid #c4a7e7;
}

#workspaces button.active * {
    background: #26233a;
    color: #c4a7e7;
}
